<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap_css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/inicio/index.css" />
    <link rel="stylesheet" href="/public/producto/index.css" />
    <title>Mercado Web</title>
  </head>
  <body>
    {{{body}}}

    <div id="modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Carrito</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="cuerpo-modal">
            No hay productos en el carrito 🙁
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/d1b9dc6536.js"
      crossorigin="anonymous"
    ></script>
    <script src="/bootstrap_js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/public/control.js"></script>
  </body>
</html>

